<?xml version="1.0" encoding="UTF-8" ?>
<odoo>
<!--    actions-->

    <record id="department_procurement"
            model="ir.actions.act_window">
        <field name="name">Annual Department Procurement Plan</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">annual.department.procurement.plan</field>
        <field name="view_mode">list,form</field>
        <field name="context">{'create': False}</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                Create a new record!
            </p>
        </field>
    </record>

    <record id="master_procurement"
            model="ir.actions.act_window">
        <field name="name">Procurement Master Plan</field>
        <field name="type">ir.actions.act_window</field>
        <field name="res_model">procurement.master.plan</field>
        <field name="view_mode">list,form</field>
        <field name="help" type="html">
            <p class="o_view_nocontent_smiling_face">
                No Records. Click to Create a New One
            </p>
        </field>
    </record>

    <!--    Menus-->
    <menuitem id="department_procurement_menu_root" parent="material_purchase_requisitions.menu_purchase_requisition" name="Planning" sequence="10"/>

    <menuitem id="department_procurement_menu_annual_consolidated_procurement_plan"
              name="Procurement Master Plan"
              sequence="1"
              groups="department_procurement.group_procurement_master"
              parent="department_procurement_menu_root"
              action="department_procurement.master_procurement"/>

    <menuitem id="department_procurement_menu_annual_department_procurement_plan"
              name="Annual Department Procurement Plan"
              sequence="2"
              groups="department_procurement.group_annual_dept_planner"
              parent="department_procurement_menu_root"
              action="department_procurement.department_procurement"/>


</odoo>